@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: 
       local("Droid Arabic Kufi"), url('fonts/DroidKufi-Regular.woff2') format('woff2'),
       local("Droid Arabic Kufi"), url('fonts/DroidKufi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: 
       local("Droid Arabic Kufi"), url('fonts/DroidKufi-Bold.woff2') format('woff2'),
       local("Droid Arabic Kufi"), url('fonts/DroidKufi-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Medium.ttf);
}

* {
  font-family: "Poppins","Droid Arabic Kufi", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search_bar .MuiFilledInput-root {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}


.hero .swiper-button-next, .hero .swiper-button-prev {
  display: inline-block;
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: 4.5rem;
  margin: 0;
  background: 0 0;
  --swiper-navigation-size: 2rem;
  color: var(--color-primary);
  height: auto;
}

.hero .swiper-button-prev {
  right: 6rem;
}

.hero .swiper-button-next {
  right: 2.5rem;
}

header a{
  color: #333;
  position: relative;
}
header section .nav-link::before{
  content:"";
  color: #333;
  height: 2px;
  width: 0;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color-primary);
}

a{
  color: #333;
}

header section .nav-link:hover::before,.active::before{
  width: 100% !important;
}

.active,a:hover{
  color: var(--color-primary);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}