@font-face {
  font-family: "hinted-RB";
  src: local("hinted-RB"), url(fonts/RB\ Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(fonts/Poppins-Medium.ttf);
}

* {
  font-family: "Poppins","hinted-RB", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search_bar .MuiFilledInput-root {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}


[class*="swiper-button-"]::after {
  color: var(--color-primary);
  
}

[class*="swiper-button-"]{
  position: absolute;
  right: 40px !important;
  bottom: 40px !important;
  width: 30px !important;
  height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  left: auto !important;
  top: auto !important;
  --swiper-navigation-size: 1rem
}

.swiper-button-prev{
  right: 80px !important;
}