:root{
  --color-primary: #f39122;
  --color-primary-light: #f3912255;
  --color-primary-dark: #dd841f;
  --color-secondary: #8ec045;
  --color-secondary-light: #8ec04555;
  --color-secondary-dark: #668a30;
}

.header-logo{
  margin-left: 1rem;
  margin-right: 1rem;
}

.unaffected {
  direction: ltr !important;
}


.awssld__content{
  display: block;
  background-color: transparent;
}