.ltr * {
  font-family: "Poppins","Droid Arabic Kufi", sans-serif;
}

.ltr {
  direction: ltr;
}


@media (min-width: 992px) {
  .ltr .header-other li.nav-item:not(:last-child):after {
    right: 0;
  }
}

.ltr .hero-additionWrapper {
  left: -5px;
}

.ltr .homeTanent-additionWrapper {
  right: 1.6rem;
}

@media (min-width: 768px) {
  .ltr .hero-additionWrapper {
    left: -45px;
  }
  .ltr .homeTanent-additionWrapper {
    right: 1em;
  }
}
@media (min-width: 992px) {
  .ltr .hero-additionWrapper {
    left: -50px;
  }
  .ltr .homeTanent-additionWrapper {
    left: 27em;
  }
}
@media (min-width: 1200px) {
  .ltr .hero-additionWrapper {
    left: -55px;
  }
  .ltr .homeTanent-additionWrapper {
    right: 2em;
  }
}