.ltr * {
  font-family: "Poppins","Droid Arabic Kufi", sans-serif;
}

.ltr {
  direction: ltr;
}


@media (min-width: 992px) {
  .ltr .header-other li.nav-item:not(:last-child):after {
    right: 0;
  }
}