.rtl {
  direction: rtl;
}

.rtl * {
  font-family: "Droid Arabic Kufi", "Poppins", sans-serif;
}

@media (min-width: 992px) {
  .rtl .header-other li.nav-item:not(:last-child):after {
    right: 0;
  }
}
